body {
  background-color: #ffffed; 
  font-family:'Open Sans', Arial, sans-serif; 
  font-size: 1.25em; 
  color: #424242; 
  text-align: justify;
  margin-left: 20px;
}

h1 {
  text-align: center;
  font-family: 'Merriweather', 'Times new roman', serif; 
  letter-spacing: 0.5em;
}

h2 {
  font-family: 'Merriweather', Arial, sans-serif; 
  font-variant: small-caps; 
}

h2.a {
  text-align: center;
}

h2.r, ul.r, ol.r {
  text-align: right;
}

ul, ol, h2 {
  padding: 0% 5%;
}

ul.r {
  list-style-type: square;
}

ul.l {
  list-style-type: none;
}

ul {
  list-style-type: circle;
}

p, li {
  line-height: 150%;
}

p {
  padding: 0% 25%;
  text-indent: 2.5em;
}

mark.b {
  background-color: skyblue; 
  color: white;
}

h2 {
  background-color: #eb8d87; 
  color: white; 
}

em.b {
  color: #4eadd2;
}