body {
  background-color: #ffffed; 
  font-family:'Open Sans', Arial, sans-serif; 
  font-size: 1.25em; 
  color: #424242; 
  text-align: justify;
  margin-left: 20px;
}

h1 {
  font-family: 'Merriweather', 'Times new roman', serif; 
  letter-spacing: 0.2em;
}

h3 {
  font-family: 'Merriweather', Arial, sans-serif; 
  font-variant: small-caps; 
}

p {
  line-height: 150%;
  text-indent: 2.5em;
}

mark {
  background-color: skyblue; 
  color: white;
}

sup {
  color: skyblue;
}

ul {
  list-style-type: circle;
}

